namespace: argocd
resources:
  # https://github.com/argoproj/argo-cd
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.6.1/manifests/install.yaml
  - namespace/argocd.yaml
patchesStrategicMerge:
  - configmap/argocd-cm.yaml
