name: build

on:
  pull_request:
    paths:
      - .github/workflows/build.yaml
      - Dockerfile
      - go.*
      - api/**
      - cmd/**
      - internal/**
      - e2e_test/**
      - '!**/*_test.go'
      - '!**/*.md'
  push:
    branches:
      - main
    tags:
      - v*
    paths:
      - .github/workflows/build.yaml
      - Dockerfile
      - go.*
      - cmd/**
      - api/**
      - internal/**
      - e2e_test/**
      - '!**/*_test.go'
      - '!**/*.md'

jobs:
  container:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    outputs:
      image-uri: ${{ steps.build-metadata.outputs.image-uri }}
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: int128/docker-build-cache-config-action@ce0c27484fc5f89cfd9fc210a794d42b9ad9b82f # v1.41.0
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
          platforms: |
            linux/amd64
            linux/arm64
      - uses: int128/docker-build-metadata-action@d61321835e5c186001003fb9cfc71aede8302e80 # v1.3.0
        id: build-metadata
        with:
          metadata: ${{ steps.build.outputs.metadata }}

  manifest:
    needs: container
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: kustomize edit set image controller="$controller_image"
        working-directory: config/manager
        env:
          controller_image: ${{ needs.container.outputs.image-uri }}
      - run: kustomize build config/default > "${RUNNER_TEMP}/${GITHUB_REPOSITORY##*/}.yaml"
      - run: cat "${RUNNER_TEMP}/${GITHUB_REPOSITORY##*/}.yaml"
      - if: github.ref_type == 'tag'
        run: gh release upload "$GITHUB_REF_NAME" "${RUNNER_TEMP}/${GITHUB_REPOSITORY##*/}.yaml" --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
          working_directory: e2e_test
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      # Set up the test environment
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: e2e-test-token
        with:
          app-id: ${{ secrets.E2E_SETUP_GITHUB_APP_ID }}
          private-key: ${{ secrets.E2E_SETUP_GITHUB_APP_PRIVATE_KEY }}
          repositories: argocd-commenter-e2e-test
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.e2e-test-token.outputs.token }}
          repository: int128/argocd-commenter-e2e-test
          path: e2e_test/argocd-commenter-e2e-test-repository
      - run: make -C e2e_test setup-fixture-branch

      - run: make -C e2e_test cluster
      - run: make -C e2e_test deploy-argocd

      # Download the modules during cluster setup.
      - run: go mod download

      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
          # Retrieve single tag
          flavor: latest=false
      - uses: int128/wait-for-docker-image-action@8f1779f08e4a5d82b60fc6d6313bca6564a71b34 # v1.9.0
        with:
          tags: ${{ steps.metadata.outputs.tags }}

      - run: make -C e2e_test deploy-controller
        env:
          CONTROLLER_IMAGE: ${{ steps.metadata.outputs.tags }}
          GITHUB_APP_ID: ${{ secrets.E2E_GITHUB_APP_ID }}
          GITHUB_APP_INSTALLATION_ID: ${{ secrets.E2E_GITHUB_APP_INSTALLATION_ID }}
          GITHUB_APP_PRIVATE_KEY: ${{ secrets.E2E_GITHUB_APP_PRIVATE_KEY }}

      - run: make -C e2e_test wait-for-apps

      # Run the test
      - uses: int128/deployment-action@dcac7af372958c0f03ab2eb7451fb85244750732 # v1.53.0
        id: deployment-app1
        with:
          environment-suffix: /app1
      - uses: int128/deployment-action@dcac7af372958c0f03ab2eb7451fb85244750732 # v1.53.0
        id: deployment-app2
        with:
          environment-suffix: /app2
      - uses: int128/deployment-action@dcac7af372958c0f03ab2eb7451fb85244750732 # v1.53.0
        id: deployment-app3
        with:
          environment-suffix: /app3

      - run: make -C e2e_test deploy-app1
        env:
          DEPLOYMENT_URL: ${{ steps.deployment-app1.outputs.url }}
          GITHUB_TOKEN: ${{ steps.e2e-test-token.outputs.token }}

      - run: make -C e2e_test restart-app1

      - run: make -C e2e_test deploy-app2
        env:
          DEPLOYMENT_URL: ${{ steps.deployment-app2.outputs.url }}
          GITHUB_TOKEN: ${{ steps.e2e-test-token.outputs.token }}

      - run: make -C e2e_test deploy-app3
        env:
          DEPLOYMENT_URL: ${{ steps.deployment-app3.outputs.url }}
          GITHUB_TOKEN: ${{ steps.e2e-test-token.outputs.token }}

      # Show logs
      - run: make -C e2e_test logs-controller
        if: always()
      - run: make -C e2e_test logs-argocd-application-controller
        if: always()
      - run: make -C e2e_test logs-argocd-applicationset-controller
        if: always()
      - run: make -C e2e_test logs-argocd-repo-server
        if: always()
