name: build-image

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/docker.yaml
      - Dockerfile
      - go.*
      - main.go
      - api/**
      - controller/**
      - pkg/**
    tags:
      - v*
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/docker.yaml
      - Dockerfile
      - go.*
      - main.go
      - api/**
      - controller/**
      - pkg/**

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: actions/cache@v2
        with:
          path: /tmp/buildx
          key: buildx-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ runner.os }}-
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: int128/buildx-push-action@v1
