name: manifest

on:
  pull_request:
    paths:
      - config/**
      - e2e_test/**
      - .github/workflows/manifest.yaml

jobs:
  diff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
          path: head
      - uses: int128/kustomize-action@ade6b628e709594f9adb2e502a8416b44050f820 # v1.164.0
        id: kustomize-head
        with:
          base-directory: head
          write-individual-files: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.base_ref }}
          path: base
      - uses: int128/kustomize-action@ade6b628e709594f9adb2e502a8416b44050f820 # v1.164.0
        id: kustomize-base
        with:
          base-directory: base
          write-individual-files: true
          ignore-kustomize-error: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: int128/diff-action@ddd48b26efc80cbca9139353926ac2ec214e08e6 # v2.2.0
        id: diff
        with:
          base: ${{ steps.kustomize-base.outputs.directory }}
          head: ${{ steps.kustomize-head.outputs.directory }}
      - uses: int128/comment-action@4cfcd395b03a8e2983eeede03ff7e457e0adc383 # v1.48.0
        with:
          update-if-exists: replace
          post: |
            ## ${{ github.workflow }} / ${{ github.job }}
            ${{ steps.diff.outputs.comment-body || 'No diff' }}
