name: manifest

on:
  pull_request:
    paths:
      - config/**
      - e2e_test/**
      - .github/workflows/manifest.yaml

jobs:
  diff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          path: head
      - uses: int128/kustomize-action@0a0337b691b355f335007123ae232aff34450306 # v1.160.0
        id: kustomize-head
        with:
          base-directory: head
          write-individual-files: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.base_ref }}
          path: base
      - uses: int128/kustomize-action@0a0337b691b355f335007123ae232aff34450306 # v1.160.0
        id: kustomize-base
        with:
          base-directory: base
          write-individual-files: true
          ignore-kustomize-error: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: int128/diff-action@4829f22189ff4c107f497424c0eb2778f6a167c3 # v1.59.0
        id: diff
        with:
          base: ${{ steps.kustomize-base.outputs.directory }}
          head: ${{ steps.kustomize-head.outputs.directory }}
          comment: false
      - uses: int128/comment-action@095eeace5d220236baf4e08cd26d1d6ca65db87a # v1.45.0
        with:
          update-if-exists: replace
          post: |
            ## kustomize diff
            ${{ steps.diff.outputs.comment-body }}
