name: manifest

on:
  pull_request:
    paths:
      - config/**
      - e2e_test/**
      - .github/workflows/manifest.yaml

jobs:
  diff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}
          path: head
      - uses: int128/kustomize-action@14c126176fda4d24d022a21ed8f17b726a4196cc # v1.166.0
        id: kustomize-head
        with:
          base-directory: head
          write-individual-files: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.base_ref }}
          path: base
      - uses: int128/kustomize-action@14c126176fda4d24d022a21ed8f17b726a4196cc # v1.166.0
        id: kustomize-base
        with:
          base-directory: base
          write-individual-files: true
          ignore-kustomize-error: true
          kustomization: |
            config/default/kustomization.yaml
            e2e_test/**/kustomization.yaml

      - uses: int128/diff-action@6a4421284e2f4aff45b9ab0bb04c6e2ecee9ac50 # v2.8.0
        id: diff
        with:
          base: ${{ steps.kustomize-base.outputs.directory }}
          head: ${{ steps.kustomize-head.outputs.directory }}
      - uses: int128/comment-action@66317511bc86c47bd51e03059040e8a460a167b8 # v1.52.0
        with:
          update-if-exists: replace
          post: |
            ## ${{ github.workflow }} / ${{ github.job }}
            ${{ steps.diff.outputs.comment-body || 'No diff' }}
